body {
    font-family: Tahoma, sans-serif;
    background-image: url(images/TodoBg.jpg);
    background-size: cover;
}

/* fejléc */
header {
    background-color: rgba(29, 29, 29, 0.6);
    padding: 1em;
    border-radius: 20px;
    color: rgb(175, 175, 175);
    margin-left: 5%;
    width: 90%;
}

/* beatfaragók logo */
header b {
    font-size: 1.5em;
}

/* menü */
header ul li{
    display: inline;
    margin-right: 20px;
}

header a {
    /* text-decoration: none; */
    color: rgb(175, 175, 175);
}

/* cím */
h1 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 7em;
    text-align: center;
    color: white;
    text-decoration: line-through;
    text-decoration-thickness: 15px;
    text-decoration-color: rgba(255, 255, 255, 0.4);
}

/* háttér */
main {
    background-color: rgba(29, 29, 29, 0.6);
    padding: 1em;
    border-radius: 20px;
    color: rgb(175, 175, 175);
    margin-top: 8px;
    margin: 5%;
    width: 90%;
    float: left;
}

h2 {
    font-size: 2em;
}

#todo1, #todo2 {
    width: 45%;
    margin-right: 5%;
    box-sizing: border-box;
    float: left;
}

#inputBox, .item {
    background-color: white;
    border-radius: 30px;
    height: 7em;
    font-size: 1.5em;
    margin-left: 5%;
    margin-bottom: 5%;
}



#input {
    width: 75%;
    border: none;
    background: none;
    height: 100%;
    font-size: 1.3em;
    padding-left: 5%;
}

#btn {
    background-color: rgb(64, 64, 255);
    border: none;
    width: 18%;
    height: 30%;
    border-radius: 25px;
    color: white;
}
.item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding-left: 5%;
    color: rgb(67, 67, 67);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.text {
    grid-column: 2;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
    word-break: break-word;
}

.remove {
    display: flex;
    align-items: center;
    width: 50%;
    height: 25%;
    border-radius: 25px;
    background-color: red;
    grid-column: 3;
    justify-self: end;
    justify-content: center;
}