body {
    font-family: Tahoma, sans-serif;
    background-image: url(images/TodoBg.jpg);
    background-size: cover;
}

/* fejléc */
header {
    background-color: rgba(29, 29, 29, 0.6);
    padding: 1em;
    border-radius: 20px;
    color: rgb(175, 175, 175);
    margin-left: 5%;
    width: 90%;
}

/* beatfaragók logo */
header b {
    font-size: 1.5em;
}

/* menü */
header ul li{
    display: inline;
    margin-right: 20px;
}

header a {
    /* text-decoration: none; */
    color: rgb(175, 175, 175);
}

/* cím */
h1 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 7em;
    text-align: center;
    color: white;
    text-decoration: line-through;
    text-decoration-thickness: 15px;
    text-decoration-color: rgba(255, 255, 255, 0.4);
}

/* háttér */
main {
    background-color: rgba(29, 29, 29, 0.6);
    padding: 1em;
    border-radius: 20px;
    color: rgb(175, 175, 175);
    margin-top: 8px;
    margin: 5%;
    width: 90%;
    float: left;
}

h2 {
    font-size: 2em;
    color: white;
}

#todo1, #todo2 {
    width: 45%;
    margin-right: 5%;
    box-sizing: border-box;
    float: left;
}

#inputBox, .item {
    font-family: "Comic Sans MS";
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(to right, rgb(27, 0, 178), rgb(73, 12, 171), rgb(6, 19, 205));
    color: white;
    border-radius: 30px;
    height: 7em;
    font-size: 1.5em;
    margin-bottom: 5%;
}

#input {
    font-family: "Comic Sans MS";
    width: 75%;
    border: none;
    background: none;
    height: 100%;
    font-size: 1.3em;
    padding-left: 5%;
    color: white;
}

#btn {
    grid-column: 2;
    background-color: rgb(0, 210, 229);
    border: 3px solid white;
    width: 16%;
    height: 33%;
    border-radius: 25px;
    color: white;
}
.item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    color: rgb(255, 255, 255);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(images/TodoBg.jpg);
}
.text {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    word-break: break-word;
}

.remove {
    display: flex;
    align-items: center;
    width: 60%;
    height: 30%;
    border-radius: 25px;
    background-color: rgb(7, 167, 195);
    color: white;
    border: 3px solid white;
    grid-column: 3;
    justify-self: center;
    justify-content: center;
}
.leftContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
}
.arrow {
    text-align: center;
    width: 80%;
    height: 80%;
    border-radius: 25px;
    border: 3px solid white;
    background-color: rgb(7, 184, 229);
    color: white;
}
.arrow:disabled {
    background-color: rgb(124, 240, 255);
}
.checkbox {
    width: 50%;
    height: 100%;
    background-color: white;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
}
.checkbox:active {
    background-color: rgb(8, 163, 183);
}
.checked {
    background-color: rgb(33, 226, 252);
    background-image: url(images/check.png);
    background-position: center;
    background-size: cover;
}
input:focus {
    outline: none;
}
input::placeholder {
    color: white;
    user-select: none;
}
button:active:not(button:disabled), .checkbox:active, .remove:active, #btn:active {
    background-color: rgb(0, 68, 255);
}

button, .checkbox, .remove, #btn {
    user-select: none;
}